*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/cleaner/build
/captures
.externalNativeBuild
.cxx
*.apk
*.zip
*.ap_
output-metadata.json
classes.jar
YoutubeDL.class
jni/
ytdl_lib/
scratch/
